[Unit]
Description=Minecraft World Backup Removal Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/minecraft/scripts/cleanup.sh

